<body id="signinpage">

<div class="border-form-div">

<h2>Play game!</h2>
<div id="form_style">

<%= challengestatement %>

 


<%= form_tag(quiz_path, method: :patch, id: "problem_form") do %>
<% Quiz.find(params[:id]).problems.each do |e| %>



  <div class= "question"><%= label_tag display_problem(e.item1, e.item2, Quiz.find(params[:id]).topic.operand) %><br />
      <%= text_field_tag "quiz_answers[]" %></div>
<!-- prints out the numbers associated with every time of problem -->

<% end %>
</div> <br>
<div id="submitbutton">
<div><%= submit_tag "Submit Quiz" %></div>
</div>

<% end %>


</div>
</body>


