<% unless current_user == nil %>
<h1> Welcome to your Dashboard, <%= @firstname %>! </h1>

<!-- Add show to all courses, and within the course, all assignments -->

<!-- Show logic -->

<br>
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="span2" >
		    <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="100" height="100"  class="img-circle">
        </div>
        
        <div class="span8">
            <h3><%= "#{@firstname}" + " " + "#{@lastname}" %></h3>
            <h6>Email: <%= current_user.email %></h6>
            <h6>Role: <%= current_user.role %></h6>
        </div>
        
        <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Options 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role = "menu">
                    <% if current_user.role == "teacher" %>
                    <li><a href="/assignments/new"><span class="icon-wrench"></span> Add Assignment</a></li>
                    <li><a href="/courses/new"><span class="icon-wrench"></span> Add Course</a></li>
                    <li><%= link_to "Add Student", "#", :data => { :toggle => 'modal', :target => '#myModal' } %></li>
                    <% end %>

                    <li><a href="#"><span class="icon-wrench"></span> Edit Profile Picture</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Student</h4>
      </div>
      <div class="modal-body">

        <%= form_for(@student, url: students_path) do |f| %>

        <div><%= f.label :firstname, "Name" %><br />
        <%= f.text_field :firstname %></div>
        
        <div><%= f.label :email, "Email" %><br />
        <%= f.email_field :email %></div>
        <br>
        <p>Add to Course:</p>
        <%= select_tag :course_id, options_for_select(current_user.courses.map{|c| [c.name, c.id]}) %>

      </div>
      <div class="modal-footer">
        <div><%= f.submit "Submit",  class: "btn btn-primary" %></div> <br>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>


<h3>Course List</h3>
<% current_user.courses.each do |c| %>
	<%= c.name %> 
	<%= c.description %> 
	<br><br>
    <% if c.assignments != nil %>
	<% c.assignments.each do |a| %>
        hey
    	<%= a.name %>
		<%= a.description %>
		<% if current_user.role == "student" %>
			<%= render "studentactions", a: a %>
		<% else %>
			<%= render "teacheractions", a: a %>
		<% end %>
	<% end %>
    <% else %>
    <p>You have no assignments to display</p>
    <% end %>

    <% end %>

<% end %>

