
<h1>Hey [user] here's whats new!</h1>

<!-- Add show to all courses, and within the course, all assignments -->

<!-- Show logic -->

<% @courses.each do |c| %>
	<%= c.name %>
	<%= c.description %> <br><br>
	<% c.assignments.each do |a| %>
		<%= a.name %>
		<%= a.description %>
		<% if @user.role == "student" %>
			<%= render "studentactions", a: a %>
		<% else %>
			<%= render "teacheractions", a: a %>
		<% end %>
	<% end %>
<% end %>

