<h2>New Assignment</h2>


<%= form_for(@assignment) do |f| %>


  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :description %><br />
  <%= f.text_field :description %></div>

  <div><%= f.label :duedate %><br />
  <%= f.date_field :duedate %></div>

  <div><%= f.label :problemtype %><br />

<%= radio_button_tag(:problemtype, "Addition") %>
<%= label_tag(:age_child, "I am younger than 21") %>
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %>
  

  <div><%= f.submit "Dashboard" %></div>
<% end %>