<h2>New Assignment</h2>


<%= form_for(@assignment) do |f| %>


  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :description %><br />
  <%= f.text_field :description %></div>

  <div><%= f.label :duedate %><br />
  <%= f.date_field :duedate %></div>
  <div>
  	<p>What type of math problems?</p>
  	<%=select_tag :difficulty, options_for_select([ "Addition", "Subtraction", "Multiplication" ], "Addition") %>
  </div>

  <div>
    <p>Difficulty?</p>
    <%=select_tag :difficulty, options_for_select([ "Easy", "Medium", "Hard" ], "Easy") %>
  </div>

  <div>
  	<p>How many problem sets?</p>
  	<%= f.select :problemnumber, [["1 Set", 1],["2 Sets",2],["3 Sets",3]] %>
  </div>
  

  <div><%= f.submit "Dashboard" %></div>
<% end %>