<h2>New Course</h2>


<%= form_for(@course) do |f| %>


  <div><%= f.label :name %><br />

  <%= f.text_field :name, value: "Hi" %></div>

  <div><%= f.label :description %><br />
  <%= f.text_field :description, value: "Hi" %></div>

 
  <%= label_tag :student1name %><br />
  <%= text_field_tag :student1name, "Hi" %>

 <br /> <%= label_tag :student1email %><br />
  <%= email_field_tag :student1email, "Hi@hi.com" %>

  <br /><%= label_tag :student2name %><br />
  <%= text_field_tag :student2name, "Hi" %>

  <br /><%= label_tag :student2email %><br />
  <%= email_field_tag :student2email,"Hi@hi.vom" %>


  <br><br>

  <div><%= f.submit "Next" %></div>
<% end %>
